Je hebt een notificatie ontvangen van Happy Idiots.<br />
<a href="{{ url('ho_main_dashboard_index') }}">Klik hier om deze melding te lezen.</a><br />
<br />
Met vriendelijke groet,<br />
Happy Idiots