Je bent ingeschreven voor het portaal van Happy Idiots.<br />
<a href="{{ url('ho_main_default_index') }}">Klik hier om naar de portal te gaan.</a><br />
<br />
Je gebruikersnaam: {{ user.username }}
<br />
Met vriendelijke groet,<br />
Happy Idiots